@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

.row{
    margin-bottom: 10px;
}

.carousel{
    position: absolute;
  overflow: hidden;
}

.showcase{
    border-radius: 12px;
    margin-bottom: 20px;
}

.navbar-dark {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.navbar-brand img {
  height: 2rem
}