@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.carousel{
  max-height: 100vh;
  height: auto;
  width: auto;
  overflow: hidden;
}

.showcase{
    border-radius: 0.5rem;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.tag:hover .showcase{
    opacity: 0.3;
}

.navbar {
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.navbar-brand img {
  height: 2rem
}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.container{
    margin-top: 40px;
}


.ctr{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tag:hover .ctr{
    opacity: 1;
    background-color: #616060;
    color: white;
    font-size: 16px;
    padding: 3% 6%;
}