@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

.carousel{
  position: absolute;
  max-height: 100vh;
  height: auto;
  width: auto;
  overflow: hidden;
}

.showcase{
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar {
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.navbar-brand img {
  height: 2rem
}

.container-fluid{
    background-color: rgba(0, 0, 0, 0.8);
}

.overlayer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  height: 86%;
  width: 92%;
  text-align: center;
  padding-top: 20%;
  opacity: 0;
  transition: 0.5s opacity;
}


.overlayer:hover{
    opacity: 1;
}